
<div id="main-container">
<!-- <div *ngIf="usuario">-->   
        <div class="container-fluid">
            <div class="row" >
                <div class="col-12 px-0">
                    <div>
                        <img
                            src="assets/images/Geometrico.png"
                            alt="banner"
                            class="d-inline-block img-fluid w-100 d-none d-lg-block"
                        />
<!--                        <div class="px-1 pt-1">
                            <button type="button" class="btn btn-success" (click)="onOpenModal('agregar')">
                                <a class="nav-link text-light">
                                    + Añadir Info <span class="sr-only">(current)</span>
                                </a>
                            </button>
                            <a *ngIf="usuario"
                            (click)="onOpenModal('actualizar', usuario)"
                            class="btn btn-primary tooltips mx-2 right-btn float-end"
                            data-placement="top"
                            data-toggle="tooltip"
                            data-original-title="Actualizar"
                            ><i class="fas fa-edit"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
<!-- *ngIf="usuario" -->
        <div class="container card border-light py-3 mb-3 font1">
            <div class="row">
                <div class="col-12">
                    <div
                    class="col-lg-12 col-md-12 position-absolute top-0 start-50 translate-middle"
                    >
                        <img
                            src="https://lh3.googleusercontent.com/a-/AFdZucov7OJB0WYG-2BI98P5niZVBtbE_tMg8zZ6qC68nQ=s288-p-rw-no"
                            alt="logo"
                            width="200"
                            height="200"
                            class="d-inline-block img-fluid rounded-circle superponer mx-3 mb-5 d-none d-lg-block"
                        />
                    </div>
                    <div class="col-lg-6 col-md-6 py-2 mx-auto text-center">
                        <div class="row justify-items-center">
                            <div class="col-10" id=textperfil>
                                <h1 class="fw-light tex-center">
                                    <strong>Marianela Gaia</strong>
                                </h1>
                                <h2 class="lead fw-light text-muted py-2 tex-center">
                                    Full Stack Developer Junior
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5 row card text-muted">
                    <div class="col">
                        <h5 id="texto" class="text-center">Learning #yoprogramo - Argentina Programa, Subsecretaria de Economía del Conocimiento — Data Intelligence / Universidad Nacional de Cuyo. Análisis de Datos y Gestión de Siniestros en Aseguradora de referencia en el mercado.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div> ->

<!-- Modal Editar Usuario 

<div 
    class="modal fade" 
    id="actualizarUsuarioModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="actualizarUsuarioModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarUsuarioModalLabel">
                    Editar Usuario {{actualizarUsuario?.nombre}} {{actualizarUsuario?.apellido}}
                </h5>
            </div>
            <div class="modal-body font1">
                <form #editForm="ngForm">
                    <div class="form-group my-2">
                        <label for="nombre">Nombre</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.nombre}}"
                        name="nombre" 
                        class="form-control" 
                        id="nombre" 
                        aria-describedby="emailHelp"
                        placeholder="" 
                        >
                    </div>
                    <input 
                    type="hidden" 
                    ngModel="{{actualizarUsuario?.id}}"
                    name="id" 
                    class="form-control" 
                    id="id" 
                    placeholder="" 
                    >
                    <div class="form-group my-2">
                        <label for="apellido">Apellido</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.apellido}} "
                        name="apellido" 
                        class="form-control" 
                        id="apellido" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="titulo">Nombre</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.titulo}} " 
                        name="titulo" 
                        class="form-control" 
                        id="titulo" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaNac">Fecha de Nacimiento</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.fechaNac}} "
                        name="fechaNac" 
                        class="form-control" 
                        id="fechaNac" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="telefono">Teléfono</label>
                        <input 
                        type="text" 
                        ngModel ngModel="{{actualizarUsuario?.telefono}}"
                        name="telefono" 
                        class="form-control" 
                        id="telefono" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="descripcion">Descripción</label>
                        <input 
                        type="text" 
                        ngModel ngModel="{{actualizarUsuario?.descripcion}}"
                        name="descripcion" 
                        class="form-control" 
                        id="descripcion" 
                        placeholder="" 
                        >
                    </div>
                    <div class="form-group my-2">
                        <label for="img">URL Imágen</label>
                        <input 
                        type="text" 
                        ngModel="{{actualizarUsuario?.img}}"
                        name="img" 
                        class="form-control" 
                        id="img" 
                        placeholder="" 
                        >
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button"  
                        id="add-user-form" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                        (click)="onUpdateUsuario (editForm.value)" 
                        data-dismiss="modal" 
                        class="btn btn-primary"> 
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal Añadir Usuario 

<div 
    class="modal fade" 
    id="agregarUsuarioModal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="agregarUsuarioModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarUsuarioModalLabel">+ Añadir</h5>
            </div>
            <div class="modal-body font1">
                <form #addForm="ngForm" (ngSubmit)="onAddUsuario(addForm)">
                    <div class="form-group my-2">
                        <label for="apellido">Apellido</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="apellido" 
                        class="form-control" 
                        id="apellido" 
                        placeholder="Apellido" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="nombre">Nombre</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="nombre" 
                        class="form-control" 
                        id="nombre" 
                        placeholder="Nombre" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="fechaNac">Fecha de Nacimiento</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="fechaNac" 
                        class="form-control" 
                        id="fechaNac" 
                        placeholder="Año (YYYY)" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="telefono">Teléfono</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="telefono" 
                        class="form-control" 
                        id="telefono" 
                        placeholder="261" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="descripcion">Descripción</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="descripcion" 
                        class="form-control" 
                        id="descripcion" 
                        placeholder="Descripción" 
                        required>
                    </div>
                    <div class="form-group my-2">
                        <label for="imgEdu">URL Imágen</label>
                        <input 
                        type="text" 
                        ngModel 
                        name="img" 
                        class="form-control" 
                        id="img" 
                        placeholder="Img JPGE - PNG" 
                        required>
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button" 
                        id="add-education-form" 
                        class="btn btn-secondary" 
                        data-dismiss="modal">
                            Cerrar
                        </button>
                        <button 
                        [disabled]="addForm.invalid" 
                        type="submit" 
                        class="btn btn-primary"> 
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
